[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fabulous = "*"


[dev-packages]

pytest = "*"
twine = "*"
pytest-cov = "*"
coveralls = "*"


[requires]

python_version = "3.6"
